<link rel="stylesheet" href="/components/expand-nav-icon/expand-nav-icon.css" />
<div id="expand-nav-icon">
  <div id="expand-nav-toggle">
    <input type="checkbox" id="expand-nav-toggle-checkbox" />
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="expand-nav">
    <div class="expand-nav-main">
      <div class="list-item">
        <div class="article-title">
          <a href="">Thế giới</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Chính trị</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Kinh doanh</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Công nghệ</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Khoa học</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Sức khỏe</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Thể thao</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Nghệ thuật</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Du lịch</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Đời sống</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Ẩm thực</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Quan điểm</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Thời tiết</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
        <div class="article-title">
          <a href="">Giải trí</a>
          <p>Quân sự</p>
          <p>Phân tích - Bình luận</p>
          <p>Thế giới đó đây</p>
          <p>Kiều bào</p>
        </div>
      </div>
      <div class="list-contact">
        <div class="contact-item">
          <div class="article-title">
            <a href="">Tin mới nhất</a>
          </div>
          <div class="article-title">
            <a href="">Nổi bật trong ngày</a>
          </div>
          <div class="article-title">
            <a href="">Trong tuần qua</a>
          </div>
        </div>
        <div class="contact-item">
          <div class="article-title">
            <a href="">Audio</a>
          </div>
          <div class="article-title">
            <a href="">Video</a>
          </div>
          <div class="article-title">
            <a href="">Khuyến mãi</a>
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-desc">
            <div class="contact-icon">
              <f-icon class="black" src="/assets/img/Email.svg"></f-icon>
            </div>
            <p class="contact-text">contact@company.com</p>
          </div>
          <div class="contact-desc">
            <div class="contact-icon">
              <f-icon class="black" src="/assets/img/Phone.svg"></f-icon>
            </div>
            <p class="contact-text">(414) 687 - 5892</p>
          </div>
          <div class="contact-desc">
            <div class="contact-icon">
              <f-icon class="black" src="/assets/img/Mark.svg"></f-icon>
            </div>
            <p class="contact-text">794 Mcallister St San Francisco, 94102</p>
          </div>
        </div>
        <div class="contact-item">
          <p>Theo dõi FNEWS trên</p>
          <div class="list-social">
            <div class="social"></div>
            <div class="social"></div>
            <div class="social"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
