<link rel="stylesheet" href="/components/expand-nav-icon/expand-nav-icon.css" />
<div id="expand-nav-icon">
  <div id="expand-nav-toggle">
    <input type="checkbox" id="expand-nav-toggle-checkbox" />
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="expand-nav">
    <div class="list-item">
      <div class="link-item"><a href="">Home</a></div>
      <div class="link-item"><a href="">World</a>
        <div class="item">
          <div><a href="">Military</div>
          <div><a href="">Analysis-Commentary</a></div>
          <div><a href="">Around the world</a></div>
          <div><a href="">overseas</a></div>
        </div>
      </div>
      <div class="link-item"><a href="">Business</a>
        <div class="item">
          <div><a href="">Finance</div>
          <div><a href="">Stock</a></div>
          <div><a href="">Enterprise</a></div>
          <div><a href="">Starting Business</a></div>
        </div>
      </div>
      <div class="link-item"><a href="">Entertainment</a>
        <div class="item">
          <div><a href="">Backstage</div>
          <div><a href="">Good book</a></div>
          <div><a href="">Film</a></div>
          <div><a href="">Music</a></div>
        </div>
      </div>
      <div class="link-item"><a href="">Health</a>
        <div class="item">
          <div><a href="">Cancer</div>
          <div><a href="">Live strong</a></div>
          <div><a href="">International medical services</a></div>
          <div><a href="">Gender knowlegde</a></div>
        </div>
      </div>
      <div class="link-item"><a href="">Sports</a>
        <div class="item">
          <div><a href="">EURO 2024</div>
          <div><a href="">Domestic football</a></div>
          <div><a href="">European football</a></div>
          <div><a href="">Tennis</a></div>
        </div>
      </div>

      <div class="link-item"><a href="">Education</a>
        <div class="item">
          <div><a href="">Parents Corner</div>
          <div><a href="">Study Promotion</a></div>
          <div><a href="">Example</a></div>
          <div><a href="">Job education</a></div>
        </div>
      </div>
      <div class="link-item"><a href="">Tech and Science</a>
        <div class="item">
          <div><a href="">Natural world<div>
                <div><a href="">Universe</a></div>
                <div><a href="">Discover</a></div>
                <div><a href="">Life science</a></div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>