<div class="bg-[var(--background-color-body)] flex overflow-hidden items-start gap-[var(--gap-item-news-col-20)] items-start self-stretch">
   <div class="h-[var(--item-img-h)] bg-neutral-200 rounded border-none opacity-100">
    <img src="" alt="" class="w-[var(--item-img-w)]">
   </div>
  <div class="des text-ellipsis flex flex-col gap-[var(--gap-item-news-col-10)]">
    <h5 class="font-[var(--font-family-secondary)] line-clamp-3 text-2xl font-normal font-semibold leading-[140%] m-0 p-0 self-stretch text-[var(--text-color-item-news)]">Thủ tướng: Kinh tế phục hồi tích cực, tăng trưởng vượt kịch bản.</h5>
    <p class="line-clamp-3 text-sm self-stretch font-normal leading-3/2 m-0 p-0 text-[var(--text-title-news-item)]">Nửa đầu năm, kinh tế phục hồi tích cực, tăng trưởng vượt kịch bản đề ra, ở mức cao của khu vực và thế giới, theo Thủ tướng.</p>
  </div>
</div>