<div
  class="bg-[var(--background-color-body)] flex overflow-hidden items-start gap-[var(--gap-item-news-col-20)] items-start self-stretch"
>
  <div class="bg-neutral-200 rounded border-none opacity-100">
    <img src="" alt="" class="min-w-[var(--item-img-w)] aspect-[5/3]" />
  </div>
  <div class="text-ellipsis flex flex-col gap-[var(--gap-item-news-col-10)]">
    <h5
      class="article-title-emphasis line-clamp-3 font-normal font-semibold leading-[140%] m-0 p-0 self-stretch text-[var(--text-color-item-news)]">
      Thủ tướng: Kinh tế phục hồi tích cực, tăng trưởng vượt kịch bản.
    </h5>
    <p
      class="article-description line-clamp-3 self-stretch font-normal leading-3/2 m-0 p-0">
      Nửa đầu năm, kinh tế phục hồi tích cực, tăng trưởng vượt kịch bản đề ra, ở
      mức cao của khu vực và thế giới, theo Thủ tướng.
    </p>
  </div>
</div>
