<link rel="stylesheet" href="/components/list-news-block/list-news-block.css" />
<!-- ko su dung path vua ../ vua /  trong 1 file de import-->
<div id="list-news-block" class="my-9">
    <div class="mb-5 flex items-center gap-1">
        <div class="w-[24px] h-[24px]">
            <f-icon class="w-6 h-6" src="../../assets/logo-trending.svg"></f-icon>
        </div>
        <h2 class="text-2xl font-bold">
            Trong tuần qua
        </h2>
    </div>
    <div id="content" class="grid grid-cols-2 mt-4">
        <div class="col-1 border-r-2">
            <div id="content-img" class="bg-[#E6E6E7] rounded mr-5"></div>
            <div id="content-text" class="flex-none mt-3 font-semibold text-base mr-5 cursor-pointer">
                Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả hơn trăm triệu USD cho Palestine
            </div>
            <div class="text-sm mr-5 my-2">
                Trọng tài người Anh Anthony Taylor không cho Đức hưởng phạt đền dù Marc Cucurella để bóng chạm tay trong
                vòng cấm Tây Ban Nha, ở hiệp phụ trận tứ kết Euro 2024...
            </div>
            <div class="mt-2 time text-sm">
                <div>4h trước <span class="ml-1.5">Thế giới</span></div>
            </div>
        </div>
        <div class="col-2 pl-2.5">
            <div class="flex pb-2.5 border-b-2">
                <div>
                    <div class="font-semibold text-base cursor-pointer">
                        Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008
                    </div>
                    <div class="mt-2 time text-sm">
                        <div>4h trước <span class="ml-1.5">Thế giới</span></div>
                    </div>
                </div>
                <div id="side-content-img" class="bg-[#E6E6E7] rounded"></div>
            </div>
            <div class="flex pb-2.5 mt-2.5 border-b-2">
                <div>
                    <div class="font-semibold text-base cursor-pointer">
                        Trận địa S-300 Ukraine nổ tung sau đòn tập kích của Nga
                    </div>
                    <div class="mt-2 time text-sm">
                        <div>4h trước <span class="ml-1.5">Thế giới</span></div>
                    </div>
                </div>
                <div id="side-content-img" class="bg-[#E6E6E7] rounded"></div>
            </div>
            <div class="flex pb-2.5 mt-2.5">
                <div>
                    <div class="font-semibold text-base cursor-pointer">
                        Iran có tân Tổng thống
                    </div>
                    <div class="mt-2 time text-sm">
                        <div>4h trước <span class="ml-1.5">Thế giới</span></div>
                    </div>
                </div>
                <div id="side-content-img" class="bg-[#E6E6E7] rounded"></div>
            </div>
        </div>
    </div>
</div>