<link rel="stylesheet" href="/components/footer-contact/footer-contact.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div id="footer-contact">
    <ul class="contact-list">
        <li class="contact-item">
            <span class="mdi--rename-box"></span>
            <span class="mdi--rename-box-outline"></span>
            <f-icon class="red" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M18 17h-7.5l2-2H18M6 17v-2.5l7.88-7.85c.19-.2.51-.2.71 0l1.76 1.76c.2.2.2.51 0 .71L8.47 17M19 3H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2'/%3E%3C/svg%3E"></f-icon>
            <span class="contact-name">Name:</span>
            <a>Công ty TNHH LIKELION</a>
        </li>
        <li class="contact-item">
            <span class="carbon--phone"></span>
            <span class="carbon--phone-filled"></span>
            <span class="contact-name">Hostline:</span>
            <a>(+84) 86 713 3779</a>
        </li>
        <li class="contact-item">
            <span class="clarity--email-line"></span>
            <span class="clarity--email-solid"></span>
            <span class="contact-name">Email:</span>
            <a>LikeLion@gmail.com</a>
        </li>
        <li class="contact-item">
            <span class="tabler--flag-filled"></span>
            <span class="tabler--flag"></span>
            <span class="contact-name">Địa chỉ:</span>
            <a>Tầng 11,Cobi Tower 2, 2 - 4 Đường số 8, Tân Phú, Quận 7, HCM</a>
        </li>
    </ul>
</div>
