<link rel="stylesheet" href="/components/footer-contact/footer-contact.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div id="footer-contact">
    <ul class="contact-list">
        <li class="contact-item">
            <f-icon class="black" src="/assets/mdi--rename-box.svg"></f-icon>
            <span class="contact-name">Name:</span>
            <a>Công ty TNHH LIKELION</a>
        </li>
        <li class="contact-item">
            <f-icon class="black" src="/assets/ic--round-phone.svg"></f-icon>
            <span class="contact-name">Hostline:</span>
            <a>(+84) 86 713 3779</a>
        </li>
        <li class="contact-item">
            <f-icon class="black" src="/assets/clarity--email-solid.svg"></f-icon>
            <span class="contact-name">Email:</span>
            <a>LikeLion@gmail.com</a>
        </li>
        <li class="contact-item">
            <f-icon class="black" src="/assets/carbon--flag-filled.svg"></f-icon>
            <span class="contact-name">Địa chỉ:</span>
            <a>Tầng 11,Cobi Tower 2, 2 - 4 Đường số 8, Tân Phú, Quận 7, HCM</a>
        </li>
    </ul>
</div>
