:root{
  --primary-color: #f44336;
  --text-color: #000000;
  --secondary-color: #ffffff;
}
div#footer-summary {
  min-height: 100px;
  max-width: 300px;
  padding: 20px;
  color: var(--secondary-color);
}

div#footer-summary figure {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

div#footer-summary figure img {
  width: 30%;
height: auto;
  transition: all 0.3s linear;
}

div#footer-summary figure img:hover {
  transform: scale(1.2);
}

div#footer-summary figure figcaption {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

div#footer-summary figure figcaption:hover {
  color: var(--primary-color);
  transition: color 2s;
  cursor: pointer;
}

div#footer-summary p {
  font-size: 14px;
}

[data-theme="light"] div#footer-summary {
  color: var(--text-color);
}

[data-theme="dark"] div#footer-summary {
  background-color: var(--text-color);
}