:root {
  --bg-color-primary: #000;
  --bg-color-secondary: #fff;
  --min-height-footer-summary: 100px;
  --width-footer-summary: 280px;
  --gap-footer-summary: 20px;
  --sds-size-radius-200: 10px;
  --sds-size-space-400: 16px;
  --height-logo: 40px;
  --font-size-logo: 24px;
  --font-size-paragraph: 18px;
  --font-weight-logo: 600;
  --font-weight-paragraph: 400;
  --line-height-paragraph: 165%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#footer-summary {
  grid-area: footer-summary;
  min-height: var(--min-height-footer-summary);
  display: flex;
  width: var(--width-footer-summary);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-footer-summary);
}

div#footer-summary span {
  display: flex;
  height: var(--height-logo);
  padding: 0px var(--sds-size-space-400);
  justify-content: center;
  align-items: center;
  border-radius: var(--sds-size-radius-200);
  background: var(--Neutral-100, #E6E6E7);
  color: var(--bg-color-primary);
  font-family: "Roboto Slab", sans-serif;
  font-size: var(--font-size-logo);
  font-style: normal;
  font-weight: var(--font-weight-logo);
  line-height: normal;
}

div#footer-summary p {
  color: var(--Neutral-950, #202022);
  font-family: Roboto, sans-serif;
  font-size: var(--font-size-paragraph);
  font-style: normal;
  font-weight: var(--font-weight-paragraph);
  line-height: var(--line-height-paragraph);
}