<link rel="stylesheet" href="/components/short-video/short-video.css" />

<div class="w-full bg-slate-50pb-8 pb-8">
  <div id="title" class="flex items-center font-semibold py-4 gap-2">
    <f-icon class="red" src="/assets/Bookmark.svg"></f-icon>
    <p class="text-2xl leading-9">Video Ngắn</p>
  </div>
  <div id="video-group" class="flex gap-5">
    <div id="card">
      <div id="media" class="relative">
        <div
          class="bg-slate-50 rounded-full absolute left-3 bottom-3 flex items-center justify-center gap-1.5"
        >
          <div id="container-play" class="flex items-center justify-center">
            <div id="play">
              <f-icon class="red" src="/assets/Play.svg"></f-icon>
            </div>
          </div>
          <span class="">02:21</span>
        </div>
      </div>
      <p class="leading-5 text-base font-semibold mt-4">
        Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu
      </p>
    </div>
    <div id="card">
      <div id="media" class="relative">
        <div
          class="bg-slate-50 rounded-full absolute left-3 bottom-3 flex items-center justify-center gap-1.5"
        >
          <div id="container-play" class="flex items-center justify-center">
            <div id="play">
              <f-icon class="red" src="/assets/Play.svg"></f-icon>
            </div>
          </div>
          <span class="">02:21</span>
        </div>
      </div>
      <p class="leading-5 text-base font-semibold mt-4">
        Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu
      </p>
    </div>
    <div id="card">
      <div id="media" class="relative">
        <div
          class="bg-slate-50 rounded-full absolute left-3 bottom-3 flex items-center justify-center gap-1.5"
        >
          <div id="container-play" class="flex items-center justify-center">
            <div id="play">
              <f-icon class="red" src="/assets/Play.svg"></f-icon>
            </div>
          </div>
          <span class="">02:21</span>
        </div>
      </div>
      <p class="leading-5 text-base font-semibold mt-4">
        Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu
      </p>
    </div>
    <div id="card">
      <div id="media" class="relative">
        <div
          class="bg-slate-50 rounded-full absolute left-3 bottom-3 flex items-center justify-center gap-1.5"
        >
          <div id="container-play" class="flex items-center justify-center">
            <div id="play">
              <f-icon class="red" src="/assets/Play.svg"></f-icon>
            </div>
          </div>
          <span class="">02:21</span>
        </div>
      </div>
      <p class="leading-5 text-base font-semibold mt-4">
        Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu
      </p>
    </div>
  </div>
</div>
