.short-video-container {
  max-width: 1180px;
  margin: 0 auto;
}
#card .leading-5 {
  color: var(--text-color);
}
#title {
  color: var(--text-color);
}

#title f-icon {
  width: 24px;
  height: 24px;
}

#media {
  background-color: var(--colors-default-100);
  height: 498px;
  width: 280px;
  cursor: pointer;
  border-radius: 4px;
}

#media:hover {
  opacity: 0.5;
}

#media > div {
  color: var(--text-color);
  background-color: var(--background-color-body);
  width: 88px;
  height: 40px;
}
#container-play {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--colors-default-300);
}

#media #play {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play f-icon {
  margin-left: 1px;
  color: var(--background-color-body);
}

#media span {
  margin-top: 1px;
  padding-right: 7px;
  font-size: 14px;
}
div.w-full.bg-slate-50pb-8.pb-8 {
  background: rgba(217, 217, 219, 0.151);
}
