:root{
  --sds-size-space-200: 16px;
}

.container{
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  display: flex;
  padding: 24px 0px 32px 0px;
  flex-direction: column;
  gap: var(--sds-size-space-200);
  background-color: var(--colors-default-50);
  width: 100%;
}

.title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--sds-size-space-200);
}

.title p{
  color: var(--Neutral-950, #202022);
  font-size: 24px;
  line-height: 150%; /* 36px */
}

.title f-icon{
  font-size: 24px;
  width: 24px;
}

.video-group{
  display: flex;
  align-items: center;
  gap: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media{
  background-color: #E6E6E7;
  width: 100%;
  height: 498px;
  position: relative;
} 

.media .play-media{
  position: absolute;
  bottom: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  padding: 5px;
  background-color: var(--colors-default-50);
  }

  .play-media .container-play-icon{
    width: 32px;
    height: 32px;
    background-color: var(--colors-default-300);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  } 

  .container-play-icon .red{
    color: #F5F5F6; 
  }

.card p{
  color: var(--Neutral-950, #202022);
  line-height: 140%; /* 22.4px */
  font-size: 16px;
}
