<link rel="stylesheet" href=".\components\short-video\short-video.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class='video-wrap'>
  <div class="video-item">
    <p>TITLE</p>
    <video controls preload="auto" autoplay muted playsinline loop>
      <source src="https://videos.pexels.com/video-files/6389054/6389054-uhd_1440_2560_25fps.mp4" type="video/mp4">
    </video>
  </div>
  <div class="video-chat">
    <h1>Chat Box</h1>
    <div class="box-comment">
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>
      <div class="comment-items">
        <span class="material-symbols-outlined">person</span>
        <div class="text-items">
          <p>Account</p>
          <p>Comment</p>
        </div>
      </div>

    </div>
    <input type="text" placeholder="Nhập bình luận ">
  </div>
</div>
<script src="\components\short-video\short-video.js"></script>

