<link rel="stylesheet" href="/components/short-video/short-video.css" />



<div class="container">
  <div class="title">
    <f-icon class="red" src="/assets/Bookmark.svg"></f-icon>
    <p>Video Ngắn </p>
  </div>
  <div class="video-group">
    <div class="card">
      <div class="media">
        <div class="play-media">
          <div class="container-play-icon">
            <f-icon class="red" src="/assets/Play.svg"></f-icon>
          </div>
          <span>02:21</span>
        </div>
      </div>
      <p>Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu</p>
    </div>
    <div class="card">
      <div class="media">
        <div class="play-media">
          <div class="container-play-icon">
            <f-icon class="red" src="/assets/Play.svg"></f-icon>
          </div>
          <span>02:21</span>
        </div>
      </div>
      <p>Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu</p>
    </div>
    <div class="card">
      <div class="media">
        <div class="play-media">
          <div class="container-play-icon">
            <f-icon class="red" src="/assets/Play.svg"></f-icon>
          </div>
          <span>02:21</span>
        </div>
      </div>
      <p>Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu</p>
    </div>
    <div class="card">
      <div class="media">
        <div class="play-media">
          <div class="container-play-icon">
            <f-icon class="red" src="/assets/Play.svg"></f-icon>
          </div>
          <span>02:21</span>
        </div>
      </div>
      <p>Tranh cãi bạn gái có nên "chia tiền 50/50" khi đi du lịch với người yêu</p>
    </div>
  </div>
</div>