<style>
    .lint-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--text-color);
    }

    .font-bold {
        color: var(--text-color);
    }

    #text {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .truncated::after {
        content: '...';
    }

    .hidden-text {
        display: none;
    }

    .text:hover {
        color: gray;
    }


    .text2 {
        color: var(--text-color);
    }

    .time {
        color: var(--text-color);
    }
</style>
<div class="container 2xl">
    <div class="flex flex-row">
        <div class="basis-2/4  bg-slate-300 w-2/3 h-96 rounded-md cursor-pointer">
        </div>
        <div class="basis-1/4 mx-5">
            <div id="text" class="font-bold text-2xl line-clamp-4 cursor-pointer text">
                TP. HCM: Kiểm tra PCCC toàn bộ chung cư, trường học, bệnh viên, nhà cho <span
                    class="truncated">thuê</span><span class="hidden-text">
                    header ngày càng dài dài
                    dài
                </span>
            </div>
            <div class="lint-clamp-3 mt-2.5">
                UBND TP. HCM yêu cầu các quận, huyện và TP. Thủ Đức khẩn trương hoàn thành việc kiểm tra PCCC và cứu
                nạn
                cứu <span class="truncated">hộ</span><span class="hidden-text"> và nó nhiều đến mức tràn ra
                    màn hình cho nên phải ẩn đi</span>
            </div>
            <div class="mt-2.5 time">
                <div>
                    1h trước <span class="ml-1.5">Đời sống</span>
                </div>
            </div>
        </div>
        <div class="basis-1/4 border-l-2 pl-4">
            <div class="font-bold cursor-pointer text">
                Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc phải thực hiện, không thể làm khác được’
            </div>
            <div class="mt-2.5 time">
                <div>
                    3h trước <span class="ml-1.5">Pháp luật</span>
                </div>
            </div>
            <div class="font-bold mt-4 cursor-pointer text">
                Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả hơn trăm triệu USD cho
                Palestine </div>
            <div class="mt-2.5 time">
                <div>
                    4h trước <span class="ml-1.5">Thế giới</span>
                </div>
            </div>
            <div class="font-bold mt-4 cursor-pointer text">
                Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008
            </div>
            <div class="mt-2.5 time">
                <div>
                    2h trước <span class="ml-1.5">Thể thao</span>
                </div>
            </div>
        </div>
    </div>
</div>