<link rel="stylesheet" href="/components/spotlight/spotlight.css" />
<div id="spotlight">
    <div class="article">
        <div class="article-pic">
            <img src="https://r4.wallpaperflare.com/wallpaper/478/1023/590/honkai-star-rail-artwork-acheron-honkai-star-rail-anime-anime-girls-hd-wallpaper-ed291350964f6904c0a69beda5525bd6.jpg"
                alt="banner">
        </div>
        <div class="article-text">
            <div class="header-text">
                TP. HCM: Kiểm tra PCCC toàn bộ chung cư, trường học, bệnh viên, nhà cho thuê làm cho header trở nên siêu
                siêu siêu dài dài dài dài bla bla
            </div>
            <div class="description">
                <div class="description-text">
                    UBND TP. HCM yêu cầu các quận, huyện và TP. Thủ Đức khẩn trương hoàn thành việc kiểm tra PCCC và cứu
                    nạn
                    cứu hộ và nó nhiều đến mức tràn ra màn hình cho nên phải ẩn đi
                </div>
                <div class="info">
                    <div class="hour">
                        1h trước
                    </div>
                    <div class="tag">
                        Đời sống
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-group">
        <div class="spotlight-article">
            <div class="article-text-2">
                <div class="text">
                    Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc phải thực hiện, không thể làm khác được’
                </div>
                <div class="info">
                    <div class="hour">
                        3h trước
                    </div>
                    <div class="tag">
                        Pháp luật
                    </div>
                </div>
            </div>
        </div>
        <div class="spotlight-article">
            <div class="article-text-2">
                <div class="text">
                    Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả hơn trăm triệu USD cho
                    Palestine
                </div>
                <div class="info">
                    <div class="hour">
                        4h trước
                    </div>
                    <div class="tag">
                        Thế giới
                    </div>
                </div>
            </div>
        </div>
        <div class="spotlight-article">
            <div class="article-text-2">
                <div class="text">
                    Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008
                </div>
                <div class="info">
                    <div class="hour">
                        2h trước
                    </div>
                    <div class="tag">
                        Thể thao
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>