div#spotlight {
  grid-area: spotlight;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 0;
}

#spotlight-img {
  aspect-ratio: 580/348;
  min-width: 580px;
}

#spotlight-text {
  min-width: 280px;
  box-sizing: content-box;
}
