<link rel="stylesheet" href="/components/spotlight/spotlight.css" />
<div id="spotlight">
    <div id="container">
        <div class="image">
            <img src="https://photo-baomoi.bmcdn.me/w700_r16x9/2024_07_05_5_49549715/06d57bca76859fdbc694.jpg.webp"
                alt="image-content">
        </div>
        <div class="content">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo necessitatibus, illum maiores debitis
                voluptatum quas dolor vero sequi similique odit itaque harum natus? Nulla unde non nobis veritatis error
                dolore.
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis consequatur ea laudantium
                accusamus vitae rem voluptas nemo ab? At praesentium itaque voluptates maxime ipsa ratione eos quaerat
                consectetur voluptas vel.</p>
        </div>
    </div>
    <div id="content-2">
        <div id="container-2">
            <div class="image-2">
                <img src="https://photo-zmp3.zmdcdn.me/banner/8/4/e/4/84e496159fd5e94624dc869267d6929a.jpg"
                    alt="image-2">
            </div>
            <h4 class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, architecto voluptates repudiandae id
                nam
                ratione dolor ipsum neque distinctio! Inventore veniam incidunt eius, et non nam distinctio ullam
                sint
                dicta!
            </h4>
            <div class="sub">icon <span>2 giờ</span></div>
            <div class="image-2">
                <img src="https://photo-zmp3.zmdcdn.me/banner/8/4/e/4/84e496159fd5e94624dc869267d6929a.jpg"
                    alt="image-2">
            </div>
            <h4 class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, architecto voluptates repudiandae id
                nam
                ratione dolor ipsum neque distinctio! Inventore veniam incidunt eius, et non nam distinctio ullam
                sint
                dicta!
            </h4>
            <div class="sub">icon <span>2 giờ</span></div>
            <div class="image-2">
                <img src="https://photo-zmp3.zmdcdn.me/banner/8/4/e/4/84e496159fd5e94624dc869267d6929a.jpg"
                    alt="image-2">
            </div>
            <h4 class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, architecto voluptates repudiandae id
                nam
                ratione dolor ipsum neque distinctio! Inventore veniam incidunt eius, et non nam distinctio ullam
                sint
                dicta!
            </h4>
            <div class="sub">icon <span>2 giờ</span></div>
        </div>
    </div>

</div>