div#spotlight {
  grid-area: spotlight;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 400px;
}

#spotlight{
  display: flex;
  width: 1200px;
  align-items: flex-start;
  gap: 20px;
  opacity: var(--sds-size-stroke-border);
}

.article{
  display: flex;
  width: 880px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  opacity: var(--sds-size-stroke-border);
}

.article-pic{
  width: 580px;
  height: 348px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: var(--sds-size-stroke-border);
  background: var(--Neutral-100, #E6E6E7);
}

img{
  border-radius: 10px;
  width: 580px;
  height: 348px;
  cursor: pointer;
}

.header-text{
  cursor: pointer;
  color: var(--Neutral-950, #202022);
  align-self: stretch;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  opacity: var(--sds-size-stroke-border);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated::after {
  content: '...';
}

.hidden-text {
  display: none;
}
.header-text:hover{
  color: gray;
}
.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sds-size-space-200);
  align-self: stretch;
  opacity: var(--sds-size-stroke-border);
  
}
.description-text{
  color: var(--Neutral-700, #4D4D51);
  align-self: stretch;
/* p.article description */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  opacity: var(--sds-size-stroke-border);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--background-color);
  color: var(--text-color);

}
.info{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: var(--sds-size-space-200);
  opacity: var(--sds-size-stroke-border);
  background-color: var(--background-color);
  color: var(--text-color);
}
.hour{
  color: var(--Neutral-700, #4D4D51);
  background-color: var(--background-color);
  color: var(--text-color);

/* p.article description */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  opacity: var(--sds-size-stroke-border);
}

.tag{
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 10px;
  opacity: var(--sds-size-stroke-border);
/* p.article description */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.article-group{
  display: flex;
  width: 280px;
  padding-left: var(--sds-size-space-400);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-left: 1px solid #E6E6E7;
  padding-left: 20px;
  opacity: var(--sds-size-stroke-border);
}

.spotlight-article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sds-size-space-300);
  align-self: stretch;
  opacity: var(--sds-size-stroke-border);
}

.article-text-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  opacity: var(--sds-size-stroke-border);
}

.text{
  background-color: var(--background-color);
  color: var(--text-color);
  align-self: stretch;

  /* h.article title */
  font-family: "Roboto Slab";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  opacity: var(--sds-size-stroke-border);
}

.text:hover{
  color: gray;
  cursor: pointer;
}