<link rel="stylesheet" href="/components/profile-icon/profile-icon.css" />
<div id="profile-icon">
    <button class="login-container px-2.5 py-1 flex items-center gap-x-1 text-base">
        <f-icon class="red" src="../../assets/image/profile.svg"></f-icon>
        <div class="login-text">
            Đăng nhập
        </div>
    </button>
    <div class="profile-container px-2.5 py-1 hidden items-center gap-x-1 text-base">
        <f-icon class="red" src="../../assets/image/profile.svg"></f-icon>
        <div class="profile-name">
            Duy Thong Tran
        </div>
    </div>
</div>