:root {
  --padding-12: 12px;
  --padding-8: 8px;

  --background-color-fff: #fff;
  --background-color-f2c94c33: rgba(242, 201, 76, 0.2);
  --sds-size-stroke-border: 1;
}

[data-theme='light'] #utility-lottery {
  --background-color-fff: #fff;
  --background-color-f2c94c33: rgba(242, 201, 76, 0.2);
  --colors-default-950: #202022;
  --colors-default-50: #f5f5f6;
  --theme: light;
}

[data-theme='dark'] #utility-lottery {
  --background-color-fff: #000;
  --background-color-f2c94c33: #000;
  --colors-default-950: #f5f5f6;
  --colors-default-50: #000;
  --theme: dark;
}

div#utility-lottery {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color-fff);
  color: var(--colors-default-950);
}  
 

td {
  color: var(--colors-default-950);
}

.tbl-header {
  color: var(--colors-default-950);
}

.tbl-title {
  background-color: var(--background-color-f2c94c33);
}

.tbl-title strong {
  color: var(--colors-emphasis);
}

.tbl-title-row-2 {
  color: var(--colors-emphasis);
}


.tbl-body :is(tr:nth-of-type(1), tr:nth-last-of-type(1)) > td:not(.row-title) {
  color: var(--colors-emphasis);
}

.tbl-body tr:nth-child(even):not(.not-color) {
  background-color: var(--colors-default-50);
}

.tbl-body tr.rowspanned {
  background-color: var(--colors-default-50);
}
