<link rel="stylesheet" href="/components/utility-lottery/utility-lottery.css" />
<div id="utility-lottery" class="w-full">
  <table class="table w-full text-base font-extrabold text-ellipsis border border-gray-200 rounded border-collapse opacity-100">
    <thead class="tbl-header text-center">
      <tr>
        <th class="tbl-title p-3 text-base font-medium border border-gray-200" colspan="13">Kết quả xổ số miền Bắc <strong>ngày 06/07/2024</strong></th>
      </tr>
      <tr>
        <th class="tbl-title-row-2 p-3 border border-gray-200" colspan="13">3QM - 12QM - 2QM - 1QM - 8QM - 9QM</th>
      </tr>
    </thead> 
    <tbody class="tbl-body text-center text-base">
      <tr>
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden">G.ĐB</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="12">99600</td>
      </tr>
      <tr>
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden">G.1</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="12">74790</td>
      </tr>
      <tr>
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden">G.2</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="6">77920</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="6">34749</td>
      </tr>
      <tr>
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden" rowspan="2">G.3</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">75790</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">39360</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">33449</td>
      </tr>
      <tr class="rowspanned">
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">77590</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">39370</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">34499</td>
      </tr>
      <tr class="not-color">
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden">G.4</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">7790</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">1983</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">3930</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">3449</td>
      </tr>
      <tr class="rowspanned">
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden" rowspan="2">G.5</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">1983</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">3930</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">3449</td>
      </tr>
      <tr >
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">1983</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">3930</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">3449</td>
      </tr>
      <tr>
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden">G.6</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">198</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">930</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="4">349</td>
      </tr>
      <tr>
        <td class="row-title w-14 text-sm font-normal p-3 border border-gray-200 overflow-hidden">G.7</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">77</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">13</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">30</td>
        <td class="border border-gray-200 p-3 overflow-hidden" colspan="3">34</td>
      </tr>
    </tbody>
  </table>
</div>
