<link rel="stylesheet" href="/components/utility-lottery/utility-lottery.css" />
<div id="utility-lottery">
  <table class="table">
    <thead class="tbl-header">
      <tr>
        <th class="tbl-title" colspan="13">Kết quả xổ số miền Bắc <strong>ngày 06/07/2024</strong></th>
      </tr>
      <tr>
        <th class="tbl-title-row-2" colspan="13">3QM - 12QM - 2QM - 1QM - 8QM - 9QM</th>
      </tr>
    </thead>
    <tbody class="tbl-body">
      <tr>
        <td class="row-title">G.ĐB</td>
        <td colspan="12">99600</td>
      </tr>
      <tr>
        <td class="row-title">G.1</td>
        <td colspan="12">74790</td>
      </tr>
      <tr>
        <td class="row-title">G.2</td>
        <td colspan="6">77920</td>
        <td colspan="6">34749</td>
      </tr>
      <tr>
        <td class="row-title" rowspan="2">G.3</td>
        <td colspan="4">75790</td>
        <td colspan="4">39360</td>
        <td colspan="4">33449</td>
      </tr>
      <tr class="rowspanned">
        <td colspan="4">77590</td>
        <td colspan="4">39370</td>
        <td colspan="4">34499</td>
      </tr>
      <tr class="not-color">
        <td class="row-title">G.4</td>
        <td colspan="3">7790</td>
        <td colspan="3">1983</td>
        <td colspan="3">3930</td>
        <td colspan="3">3449</td>
      </tr>
      <tr class="rowspanned">
        <td class="row-title" rowspan="2">G.5</td>
        <td colspan="4">1983</td>
        <td colspan="4">3930</td>
        <td colspan="4">3449</td>
      </tr>
      <tr >
        <td colspan="4">1983</td>
        <td colspan="4">3930</td>
        <td colspan="4">3449</td>
      </tr>
      <tr>
        <td class="row-title">G.6</td>
        <td colspan="4">198</td>
        <td colspan="4">930</td>
        <td colspan="4">349</td>
      </tr>
      <tr>
        <td class="row-title">G.7</td>
        <td colspan="3">77</td>
        <td colspan="3">13</td>
        <td colspan="3">30</td>
        <td colspan="3">34</td>
      </tr>
    </tbody>
  </table>
</div>
