:root {
  --theme: light;
  --primary-color: #000;
  --border-color-lightgray: lightgray;
  --font-color-red: red;
  
  --background-color: #fff;
  --background-color-f3f3f3: #f3f3f3;
  --background-color-fff3be: #fff3be;

  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-24: 24px;

  --padding-20: 20px;
  --padding-10: 10px;
}

[data-theme="dark"] {
  --background-color: #000;
  --font-color: #fff;
  --theme: dark;
}

div#utility-lottery {
  /* background-color: rgb(129, 160, 95); */
  background-color: var(--background-color);
  min-height: 100px;
}

.title {
  background-color: var(--background-color-fff3be);
  text-align: center;
  font-size: var(--font-size-20);
  font-weight: 500;
}

.title p {
  margin: 0;
  padding: var(--padding-20) 0;
  color: var(--font-color-red);
}

.title strong {
  color: var(--primary-color);
}

table {
  width: 100%;
  border: 1px solid var(--border-color-lightgray);
  border-collapse: collapse;
  margin-top: 10px;
}

td,
th {
  padding: var(--padding-10);
  border: 1px solid var(--border-color-lightgray);
}

td {
  color: var(--font-color);
}

.tbl-header {
  color: var(--font-color-red);
}

.tbl-header span {
  color: var(--primary-color);
}

.tbl-body {
  text-align: center;
  font-size: var(--font-size-16);
}

.tbl-body td:not(.row-title) {
  font-size: var(--font-size-24);
  font-weight: 900;
}

.tbl-body :is(tr:nth-of-type(1), tr:nth-last-of-type(1)) > td:not(.row-title) {
  color: var(--font-color-red);
}

.tbl-body td:nth-of-type(1) {
  width: 70px;
}

.tbl-body tr:nth-child(even):not(.not-color) {
  background-color: var(--backgroud-color-f3f3f3);
}

.tbl-body tr.rowspanned {
  background-color: var(--backgroud-color-f3f3f3);
}
