<link rel="stylesheet" href="/components/utility-lottery/utility-lottery.css" />
<div id="utility-lottery">
  <div class="title">
    <p>Kết quả xổ số miền Bắc <strong>ngày 02/10/2020</strong></p>
  </div>
  <table>
    <thead class="tbl-header">
      <tr>
        <th colspan="8">3QM <span>-</span> 12QM <span>-</span> 2QM <span>-</span> 1QM <span>-</span> 8QM <span>-</span> 9QM</th>
      </tr>
    </thead>
    <tbody class="tbl-body">
      <tr>
        <td class="row-title">Đặc biệt</td>
        <td colspan="8">99600</td>
      </tr>
      <tr>
        <td class="row-title">Giải nhất</td>
        <td colspan="8">25157</td>
      </tr>
      <tr>
        <td class="row-title">Giải nhì</td>
        <td colspan="4">41602</td>
        <td colspan="4">01801</td>
      </tr>
      <tr>
        <td class="row-title" rowspan="2">Giải ba</td>
        <td colspan="3">07691</td>
        <td colspan="2">61779</td>
        <td colspan="3">63586</td>
      </tr>
      <tr class="rowspanned">
        <td colspan="3">48562</td>
        <td colspan="2">13837</td>
        <td colspan="3">36479</td>
      </tr>
      <tr class="not-color">
        <td class="row-title">Giải tư</td>
        <td colspan="2">7790</td>
        <td colspan="2">1983</td>
        <td colspan="2">3930</td>
        <td colspan="2">3449</td>
      </tr>
      <tr class="rowspanned">
        <td class="row-title" rowspan="2">Giải năm</td>
        <td colspan="3">4849</td>
        <td colspan="2">8407</td>
        <td colspan="3">9054</td>
      </tr>
      <tr>
        <td colspan="3">4528</td>
        <td colspan="2">0931</td>
        <td colspan="3">3793</td>
      </tr>
      <tr>
        <td class="row-title">Giải sáu</td>
        <td colspan="3">521</td>
        <td colspan="2">680</td>
        <td colspan="3">821</td>
      </tr>
      <tr>
        <td class="row-title">Giải bảy</td>
        <td colspan="2">90</td>
        <td colspan="2">38</td>
        <td colspan="2">21</td>
        <td colspan="2">02</td>
      </tr>
    </tbody>
  </table>
</div>
