<link
  rel="stylesheet"
  href="/components/utility-football/utility-football.css"
/>
<div id="utility-football">
  <div class="utility-football-table">
    <div class="utility-football-header">
      <div class="utility-football-title active">V.League</div>
      <div class="utility-football-title">EPL</div>
      <div class="utility-football-title">Bundesliga</div>
      <div class="line"></div>
    </div>
    <div class="utility-football-list">
      <div class="utility-football-item">
        <div class="football-item-info">
          <img class="logo" src="../../assets/utility-football/Fullham.jpg"/>
          <div class="text_Color_Grey_Lighter">Fulham</div>
        </div>
        <div class="football-item-score">
          <span class="text_Color_Grey_Bold">0</span>
          <span class="text_Color_Grey_Bold">:</span>
          <span class="text_normal">3</span>
        </div>
        <div class="football-item-info">
          <img class="logo" src="../../assets/utility-football/sheffield-united-thumbnail.png"/>
          <div class="text_normal">Sheffield United</div>
        </div>
      </div>
      <div class="utility-football-item">
        <div class="football-item-info">
          <img class="logo" src="../../assets/utility-football/chelsea.png"/>
          <div class="text_normal">Chelsea</div>
        </div>
        <div class="football-item-score">
          <span class="text_normal">1</span>
          <span class="text_Color_Grey_Bold">:</span>
          <span class="text_Color_Grey_Bold">0</span>
        </div>
        <div class="football-item-info">
          <img class="logo" src="../../assets/utility-football/liver.jpg"/>
          <div class="text_Color_Grey_Lighter">Liverpool</div>
        </div>
      </div>
    </div>
    <div class="utility-football-footer">
      <div class="utility-football-btnSeeAll">Xem tất cả</div>
    </div>
  </div>
</div>

<script src="./utility-football.js"></script>