<link
  rel="stylesheet"
  href="/components/utility-football/utility-football.css"
/>
<script src="./utility-football.js"></script>
<div id="utility-football">
  <div class="utility-football-container grid gap-4">
    <div class="utility-football-infor">
      <h3
        class="football-infor-heading overflow-hidden font-semibold text-xl text-ellipsis mt-0 mb-4"
      >
        Mùa giải
      </h3>
      <div class="football-infor-list">
        <div class="football-infor-item relative article-title mb-4 pb-3">
          Bản tin Euro: Ronaldo dỗ dành Pepe
        </div>
        <div class="football-infor-item relative article-title mb-4 pb-3">
          Pháp chưa ghi bàn từ bóng sống tại Euro 2024
        </div>
        <div class="football-infor-item relative article-title mb-4 pb-3">
          Nước mắt Pepe, tạm biệt Ronaldo và cây quyền trượng trao lại cho
          Mbappe
        </div>
      </div>
    </div>
    <div class="utility-football-score w-full overflow-hidden rounded-lg">
      <div class="football-list-header py-2 px-2">
        <div class="football-list-title text-xs font-medium">
          Premier League
        </div>
      </div>
      <div class="utility-football-table p-3">
        <div id="utility-football-lists" class="utility-football-list"></div>
        <button
          class="utility-football-footer w-full text-center"
        >
          Xem tất cả
        </button>
      </div>
    </div>
  </div>
</div>
