<link rel="stylesheet" href="/components/subscribe-mail/subscribe-mail.css" />

<div id="subscribe-mail" class="w-96 h-24 flex justify-center items-center">
  <!-- Subscribe Mail Section -->
  <form class="flex gap-4 box-border p-0 m-0 w-96 h-10">
    <input type="email" id="email" class="px-4 rounded" placeholder="Nhận thêm thông báo qua email" required>
    <button id="btn-subs" type="submit" class="w-24 h-full rounded px-4 py-3 border-none no-underline hover:opacity-50 hover:cursor-pointer">Đăng ký</button>    
  </form>
</div>
<script src="./subscribe-mail.js"></script>