<link rel="stylesheet" href="/components/trending/trending.css" />
<div id="trending">
  <section class="trending-list-item">
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
    <article class="item">
      <figuter>
        <img class="img-item-trending" src="https://picsum.photos/200/300" alt="Image random" />
        <h4 class="title-item-trending">Tên tiêu đề bài viết có các nội dung về thông tin được cập nhật trên truyền thông</h4>
      </figuter>
    </article>
  </section>
</div>
