<link rel="stylesheet" href="/components/trending/trending.css" />
<div id="trending">
  <section class="section-trending flex flex-col gap-4">
    <div class="title flex">
      <f-icon
        class="icon-trending w-6 h-6"
        src="../../assets/logo-trending.svg"
      ></f-icon>
      <h3 class="font-semibold">Nổi bật trong ngày</h3>
    </div>
    <div
      class="article-group flex flex-row pb-4 gap-5 items-start self-stretch"
    >
      <article class="brief flex flex-col items-start gap-3 flex-1">
        <img
          src=""
          alt=""
          class="article-pic h-40 self-stretch bg-neutral-200 rounded opacity-100"
        />
        <div class="article-text">
          <h4 class="font-semibold">
            Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008
          </h4>
          <div class="description flex gap-2 items-center">
            <p>2h trước</p>
            <p>Thể thao</p>
          </div>
        </div>
      </article>
      <article class="brief flex flex-col items-start gap-3 flex-1">
        <img
          src=""
          alt=""
          class="article-pic h-40 self-stretch bg-neutral-200 rounded opacity-100"
        />
        <div class="article-text">
          <h4 class="font-semibold">
            Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc phải thực hiện, không
            thể làm khác được’
          </h4>
          <div class="description flex gap-2 items-center">
            <p>3h trước</p>
            <p>Pháp luật</p>
          </div>
        </div>
      </article>
      <article class="brief flex flex-col items-start gap-3 flex-1">
        <img
          src=""
          alt=""
          class="article-pic h-40 self-stretch bg-neutral-200 rounded opacity-100"
        />
        <div class="article-text">
          <h4 class="font-semibold">
            Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả
            hơn trăm triệu USD cho Palestine
          </h4>
          <div class="description flex gap-2 items-center">
            <p>4h trước</p>
            <p>Thế giới</p>
          </div>
        </div>
      </article>
    </div>
    <div
      class="article-group flex flex-row pb-4 gap-5 items-start self-stretch"
    >
      <article class="brief flex flex-col items-start gap-3 flex-1">
        <img
          src=""
          alt=""
          class="article-pic h-40 self-stretch bg-neutral-200 rounded opacity-100"
        />
        <div class="article-text">
          <h4 class="font-semibold">
            Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả
            hơn trăm triệu USD cho Palestine
          </h4>
          <div class="description flex gap-2 items-center">
            <p>4h trước</p>
            <p>Thế giới</p>
          </div>
        </div>
      </article>
      <article class="brief flex flex-col items-start gap-3 flex-1">
        <img
          src=""
          alt=""
          class="article-pic h-40 self-stretch bg-neutral-200 rounded opacity-100"
        />
        <div class="article-text">
          <h4 class="font-semibold">
            Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008
          </h4>
          <div class="description flex gap-2 items-center">
            <p>2h trước</p>
            <p>Thể thao</p>
          </div>
        </div>
      </article>
      <article class="brief flex flex-col items-start gap-3 flex-1">
        <img
          src=""
          alt=""
          class="article-pic h-40 self-stretch bg-neutral-200 rounded opacity-100"
        />
        <div class="article-text">
          <h4 class="font-semibold">
            Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc phải thực hiện, không
            thể làm khác được’
          </h4>
          <div class="description flex gap-2 items-center">
            <p>3h trước</p>
            <p>Pháp luật</p>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>

<script src="../../example-custom-icon.html"></script>
