<link rel="stylesheet" href="/components/trending/trending.css" />
<div id="trending">
  <section class="section-trending">
    <div class="title">
      <f-icon
        class="icon-trending"
        src="../../assets/logo-trending.svg"
      ></f-icon>
      <h3>Nổi bật trong ngày</h3>
    </div>
    <div class="article-group">
      <article class="brief">
        <img src="" alt="" class="article-pic" />
        <div class="article-text">
          <h4>Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008</h4>
          <div class="description">
            <p>2h trước</p>
            <p>Thể thao</p>
          </div>
        </div>
      </article>
      <article class="brief">
        <img src="" alt="" class="article-pic" />
        <div class="article-text">
          <h4>
            Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc phải thực hiện, không
            thể làm khác được’
          </h4>
          <div class="description">
            <p>3h trước</p>
            <p>Pháp luật</p>
          </div>
        </div>
      </article>
      <article class="brief">
        <img src="" alt="" class="article-pic" />
        <div class="article-text">
          <h4>
            Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả
            hơn trăm triệu USD cho Palestine
          </h4>
          <div class="description">
            <p>4h trước</p>
            <p>Thế giới</p>
          </div>
        </div>
      </article>
    </div>
    <div class="article-group">
      <article class="brief">
        <img src="" alt="" class="article-pic" />
        <div class="article-text">
          <h4>
            Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm, trả
            hơn trăm triệu USD cho Palestine
          </h4>
          <div class="description">
            <p>4h trước</p>
            <p>Thế giới</p>
          </div>
        </div>
      </article>
      <article class="brief">
        <img src="" alt="" class="article-pic" />
        <div class="article-text">
          <h4>Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008</h4>
          <div class="description">
            <p>2h trước</p>
            <p>Thể thao</p>
          </div>
        </div>
      </article>
      <article class="brief">
        <img src="" alt="" class="article-pic" />
        <div class="article-text">
          <h4>
            Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc phải thực hiện, không
            thể làm khác được’
          </h4>
          <div class="description">
            <p>3h trước</p>
            <p>Pháp luật</p>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>

<script src="./trending.js"></script>
