:root {
    --bg-color-primary: #111;
    --bg-color-secondary: #fff;
    --sds-size-space-200: 8px;
    --Neutral-50: rgb(161, 152, 152);
    --border-radius-toggle: 999px;
    --padding-toggle-toggle: 4px;
    --size-image: 20px;
    --size-ball: 24px;
    --border-radius-ball: 50%;
    --transform-translate-x: 24px;
    --position-ball: 2px;
    --height-checkbox-label: 30px;
    --width-checkbox-label: 54px
}

#theme-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#theme-toggle figure {
    display: flex;
    padding: var(--padding-toggle-toggle);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    border-radius: var(--border-radius-toggle);
}

#theme-toggle figure.active {
    background: var(--Yellow, #F2C94C);
}

.btn-toggle-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: var(--padding-toggle-toggle);
    background: var(--Neutral-50);
    gap: var(--sds-size-space-200);
    border-radius: var(--border-radius-toggle);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-primary);
    width: var(--width-checkbox-label);
    border-radius: var(--border-radius-toggle);
    position: relative;
    padding: var(--padding-toggle-toggle);
    cursor: pointer;
}

.checkbox-label img {
    height: var(--size-image);
    width: var(--size-image);
}

.checkbox-label .ball {
    background-color: var(--bg-color-secondary);
    width: var(--size-ball);
    height: var(--size-ball);
    position: absolute;
    left: var(--position-ball);
    top: var(--position-ball);
    border-radius: var(--border-radius-ball);
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(var(--transform-translate-x));
}