<link rel="stylesheet" href="/components/theme-toggle/theme-toggle.css" />
<script src="./theme-toggle.js"></script>
<div id="theme-toggle" class="flex justify-end items-center h-fit">
  <form
    class="flex rounded-[999px] mb-[20px] p-[4px] gap-[8px]"
    name="myTheme"
    onchange="toggleTheme()"
  >
    <input
      type="radio"
      id="sun"
      name="theme"
      value="dark"
      checked
      class="hidden"
    />
    <label for="sun" class="transition-all">
      <f-icon src="/assets/images/Sun.svg"></f-icon>
    </label>
    <input type="radio" id="moon" name="theme" value="light" class="hidden" />
    <label for="moon" class="transition-all">
      <f-icon src="/assets/images/Moon.svg"></f-icon>
    </label>
    <input
      type="radio"
      id="random"
      name="theme"
      value="random"
      class="hidden"
    />
    <label for="random" class="transition-all">
      <f-icon src="/assets/images/Monitor.svg"></f-icon>
    </label>
  </form>
</div>
