<link rel="stylesheet" href="/components/footer-social-media/footer-social-media.css" />
<link rel="stylesheet" href="./footer-social-media.js">
<div id="footer-social-media">
  <div class="div_gr_icon">
    <a href="" class="ic--baseline-facebook"></a> <a class="text_tag_a" href="">Facebook</a>
    <span class="tooltiptext">https://www.facebook.com/</span>
  </div>
  <div href="" class="div_gr_icon">
    <a href="" class="mdi--instagram"></a><a class="text_tag_a" href="">Instagram</a>
    <span class="tooltiptext">https://www.instagram.com/</span>
  </div>
  <div class="div_gr_icon">
    <a href="" class="uil--linkedin"></a><a class="text_tag_a" href="">GitHub</a>
    <span class="tooltiptext">https://www.linkedin.com/</span>
  </div>
</div>
</div>
</div>