:root {
  --background-color: white;
  --background-social-media-color: white;
  --text-color: black;
  --text-social-media-color: black;
  --theme: light;
  --padding-size-md: 12px;
  --icon-height-md: 16px;
  --icon-width-md: 16px;
  --text-size-md: 15px;
}

[data-theme="dark"] {
  --background-color: black;
  --background-social-media-color: black;
  --text-color: white;
  --text-social-media-color: white;
  --theme: dark;
  --padding-size-md: 12px;
  --icon-height-md: 16px;
  --icon-width-md: 16px;
  --text-size-md: 15px;
}

div#footer-social-media {
  background-color: var(--background-social-media-color);
  color: var(--text-social-media-color);
  padding-right: var(--padding-size-md);
}

div#footer-social-media {
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.div_gr_icon {
  display: flex;
  align-items: center;
  margin: 0 5px 5px 5px;
  position: relative;
}

.div_gr_icon .tooltiptext {
  visibility: hidden;
  background-color: #bab4b4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 20%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 10px;
}

.div_gr_icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ded3d3 transparent transparent transparent;
}

.div_gr_icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text_tag_a {
  text-decoration: none;
  margin-left: 3px;
  color: var(--text-social-media-color);
  font-size: var(--text-size-md);
}
