<link rel="stylesheet" href="/components/footer-social-media/footer-social-media.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
<div class="footer-social-media flex items-center">
      <p class="p_article text-lg mr-3">Theo dõi FNEWS trên</p>
      <div class="div_gr_icon flex">
            <div class="item_icon mr-1 h-8 w-8"> <a
                        href="https://www.facebook.com/likelionvietnam/photos?locale=vi_VN"><f-icon class="f_icon"
                              src="/components/footer-social-media/assets/icons/ic-facebook.svg"></f-icon></a></div>

            <div class="item_icon mr-1 h-8 w-8"> <a href="https://www.tiktok.com/@likelionvietnam"><f-icon
                              src="/components/footer-social-media/assets/icons/ic-tiktok.svg"></a></f-icon></div>

            <div class="item_icon mr-1 h-8 w-8"> <a
                        href="https://www.youtube.com/channel/UCW6jP1DNd1I1q9bS_R64etg"><f-icon
                              src="/components/footer-social-media/assets/icons/ic-youtube.svg"></a></f-icon></div>
      </div>

</div>