:root {
  --background-color: white;
  --background-social-media-color: white;
  --text-color: black;
  --text-social-media-color: black;
  --theme: light;
  --padding-size-md: 12px;
  --icon-height-md: 16px;
  --icon-width-md: 16px;
  --text-size-md: 15px;
  --text-size-sm: 10px;
  --min-height-screen: 100px;
  --padding-small: 8px;
  --margin-md: 8px;
  --margin-sm: 4px;
  --border-radius-sm: 5px;
  --margin-l: 60px;
}

[data-theme="dark"] {
  --background-color: black;
  --background-social-media-color: black;
  --text-color: white;
  --text-social-media-color: white;
  --theme: dark;
  --padding-size-md: 12px;
  --icon-height-md: 16px;
  --icon-width-md: 16px;
  --text-size-md: 15px;
  --text-size-sm: 10px;
  --min-height-screen: 100px;
  --padding-small: 8px;
  --margin-md: 8px;
  --margin-sm: 4px;
  --border-radius-sm: 5px;
  --margin-l: 60px;
}

div#footer-social-media {
  background-color: var(--background-social-media-color);
  color: var(--text-social-media-color);
  padding-right: var(--padding-size-md);
}

div#footer-social-media {
  min-height: var(--min-height-screen);
  display: flex;
  flex-direction: column;
}

.div_gr_icon {
  display: flex;
  align-items: center;
  margin: 0 var(--padding-size-md) var(--padding-size-md) var(--padding-size-md);
  position: relative;
}

.div_gr_icon .tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: #bab4b4;
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-size-md) 0;
  z-index: 1;
  bottom: 110%;
  right: 25%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: var(--text-size-sm);
}

.div_gr_icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: var(--border-radius-sm);
  border-style: solid;
  border-color: #ded3d3 transparent transparent transparent;
}

.div_gr_icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text_tag_a {
  text-decoration: none;
  margin-left: var(--margin-sm);
  color: var(--text-social-media-color);
  font-size: var(--text-size-md);
}
