<link rel="stylesheet" href="/components/footer-social-media/footer-social-media.css" />
<link rel="stylesheet" href="./footer-social-media.js">
<div id="footer-social-media">
  <div class="div_gr_icon">
    <f-icon src="/assets/ic_facebook.svg"></f-icon></a> <a class="text_tag_a" href="">Facebook</a>
    <span class="tooltiptext">https://www.facebook.com/</span>
  </div>
  <div href="" class="div_gr_icon">
    <f-icon src="/assets/ic_instagram.svg"></f-icon></a><a class="text_tag_a" href="">Instagram</a>
    <span class="tooltiptext">https://www.instagram.com/</span>
  </div>
  <div class="div_gr_icon">
    <f-icon src="/assets/ic_linkedin.svg"></f-icon><a class="text_tag_a" href="">Linked</a>
    <span class="tooltiptext">https://www.linkedin.com/</span>
  </div>
</div>
</div>
</div>