<link rel="stylesheet" href="/components/footer-link/footer-link.css" />
<div id="footer-link" class="flex flex-wrap items-center gap-y-2 gap-x-[32px] max-w-[780px] flex-1 mb-[16px]">
  <a class="w-[100px] text-[#84858c] dark:text-[#FF0000]" href="#Home">Trang chủ</a>
  <a class="w-[100px] text-[#84858c]" href="#World">Thế giới</a>
  <a class="w-[100px] text-[#84858c]" href="#Politics">Chính trị</a>
  <a class="w-[100px] text-[#84858c]" href="#Business">Kinh doanh</a>
  <a class="w-[100px] text-[#84858c]" href="#Tech">Công nghệ</a>
  <a class="w-[100px] text-[#84858c]" href="#Science">Khoa học</a>
  <a class="w-[100px] text-[#84858c]" href="#Health">Sức khỏe</a>
  <a class="w-[100px] text-[#84858c]" href="#Sports">Thể thao</a>
  <a class="w-[100px] text-[#84858c]" href="#Arts">Nghệ thuật</a>
  <a class="w-[100px] text-[#84858c]" href="#Travel">Du lịch</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Đời sống</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Ẩm thực</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Quan điểm</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Thời tiết</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Giải trí</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Video</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Audio</a>
  <a class="w-[100px] text-[#84858c]" href="#Style">Khuyến mãi</a>
</div>