<link rel="stylesheet" href="/components/footer-link/footer-link.css" />
<div id="footer-link" data-theme="light">
  <a href="#Home">Home</a>
  <a href="#World">World</a>
  <a href="#Politics">Politics</a>
  <a href="#Business">Business</a>
  <a href="#Tech">Tech</a>
  <a href="#Science">Science</a>
  <a href="#Health">Health</a>
  <a href="#Sports">Sports</a>
  <a href="#Arts">Arts</a>
  <a href="#Travel">Travel</a>
  <a href="#Style">Style</a>
  <a href="#Food">Food</a>
  <a href="#Opinion">Opinion</a>
  <a href="#Weather">Weather</a>
  <a href="#Magazine">Magazine</a>
  <a href="#Video">Video</a>
  <a href="#Audio">Audio</a>
  <a href="#Coupons">Coupons</a>
</div>
