:root {
  --background-color-footer: var(--colors-default-50);
  --text-color-footer: var(--colors-default-400);
  --theme: light;
}

/* Dark theme */
[data-theme='dark'] {
  --background-color-footer: var(--colors-default-950);
  --text-color-footer: white;
  --theme: dark;
}
div#footer-link {
  background-color: var(--background-color-footer);
}

div#footer-link a {
  color: var(--text-color-footer);
}
