<link rel="stylesheet" href="/components/footer-link/footer-link.css" />
<div id="footer-link">
  <a href="#Home">Trang chủ</a>
  <a href="#World">Thế giới</a>
  <a href="#Politics">Chính trị</a>
  <a href="#Business">Kinh doanh</a>
  <a href="#Tech">Công nghệ</a>
  <a href="#Science">Khoa học</a>
  <a href="#Health">Sức khỏe</a>
  <a href="#Sports">Thể thao</a>
  <a href="#Arts">Nghệ thuật</a>
  <a href="#Travel">Du lịch</a>
  <a href="#Style">Đời sống</a>
  <a href="#Style">Ẩm thực</a>
  <a href="#Style">Quan điểm</a>
  <a href="#Style">Thời tiết</a>
  <a href="#Style">Giải trí</a>
  <a href="#Style">Video</a>
  <a href="#Style">Audio</a>
  <a href="#Style">Khuyến mãi</a>
</div>
