:root {
  --padding-sm: 5px;
  --gap-sm: 4px;
  --spacing-sm: 4px;
  --search-container-radius: 20px;
  --search-min-height: 36px;
  --padding-sm: 5px;
  --gap-sm: 4px;
  --spacing-sm: 4px;
  --search-container-radius: 20px;
  --search-min-height: 36px;
}

input:focus-within {
  width: 400px !important;
}

[data-theme='light'] {
  --color-default: rgba(128, 128, 128, 0.609);
  --color-contrast: #fff;
  --search-input-border-color: #84858c;
}

[data-theme='dark'] {
  --search-input-border-color: #fff;
  --color-default: #fff;
  --color-contrast: #000;
}

#search-bar {
  grid-area: search-bar;
  color: var(--color-default);
  position: relative;
  align-self: center;
  font-family: 'Roboto';
  width: 300px;
}
#search-bar:has(#search-bar-container #search-bar:focus-within) #search-result {
  display: block;
}

#search-bar-container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  margin: var(--spacing-sm);
  padding: 0 calc(var(--padding-sm) * 2);
  border: 1px solid var(--search-input-border-color);
  opacity: 50%;
  border-radius: var(--search-container-radius);
  min-height: var(--search-min-height);
  position: relative;
  z-index: 999999999;
}
#search-bar-container input {
  font-family: 'Roboto';
  all: unset;
  padding: var(--padding-sm);
  margin: 0 var(--spacing -sm);
  box-sizing: border-box;
  flex-grow: 1;
}
#search-bar-container input::placeholder {
  font-family: 'Roboto';
  color: var(--color-default);
  letter-spacing: 0.1px;
}

.search-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: var(--color-default);
}

#search-result {
  padding-top: calc(var(--search-min-height) + var(--spacing-sm) * 2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-contrast);
  border-radius: calc(var(--search-container-radius) + var(--spacing-sm));
  border: 1px solid var(--color-default);
  display: none;
  overflow: auto;
}

.result-item {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--spacing-sm);
  cursor: pointer;
}
.result-item:hover {
  background-color: var(--color-default);
  color: var(--color-contrast);
}

[data-theme='light'] {
  --color-default: rgba(128, 128, 128, 0.609);
  --color-contrast: #fff;
}

[data-theme='dark'] {
  --color-default: #fff;
  --color-contrast: #000;
}

#search-bar {
  grid-area: search-bar;
  color: var(--color-default);
  position: relative;
  align-self: center;
  font-family: 'Roboto';
}
#search-bar:has(#search-bar-container:focus-within) #search-result {
  display: block;
}

#search-bar-container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  margin: var(--spacing-sm);
  padding: 0 calc(var(--padding-sm) * 2);
  border: 1px solid var(#84858c);
  border-radius: var(--search-container-radius);
  min-height: var(--search-min-height);
  position: relative;
  z-index: 1000;
}
#search-bar-container input {
  font-family: 'Roboto';
  all: unset;
  padding: var(--padding-sm);
  margin: 0 var(--spacing-sm);
  box-sizing: border-box;
  flex-grow: 1;
}
#search-bar-container input::placeholder {
  font-family: 'Roboto';
  letter-spacing: 0.1px;
}
#search-bar {
  transition: all 0.5s ease-in-out;
}
#search-bar:focus-within {
  width: 400px;
}

#search-bar-container:has(#search-bar:focus-within) .search-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: var(--color-default);
}

#search-result {
  padding-top: calc(var(--search-min-height) + var(--spacing-sm) * 2);
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-contrast);
  border-radius: calc(var(--search-container-radius));
  border: 1px solid var(--color-default);
  display: none;
  overflow: auto;
}

.result-item {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--spacing-sm);
  cursor: pointer;
}
.result-item:hover {
  background-color: var(--color-default);
  color: var(--color-contrast);
}

/*# sourceMappingURL=search-bar.css.map */
