:root {
   --search-primary-color: rgb(116, 168, 161);
   --search-bg-color: white;
   --text-color: black;
   --bg-color-dropdown: white;
   --bg-color-hover: rgb(130, 169, 163);
}
[data-theme="dark"] {
   --search-primary-color: white;
   --search-bg-color: black;
   --bg-color-dropdown: black;
   --text-color: white;
}

div#search-bar {
   margin: 0;
   padding: 0;
   grid-area: search-bar;
   border: 1px solid var(--search-primary-color);
   overflow: hidden;
   box-sizing: border-box;
   height: 40px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

form.search-form {
   height: 100%;
   width: 100%;
}

form.search-form input#search-input {
   width: calc(100% - 70px);
   height: 100%;
   outline: 0;
   color: var(--search-primary-color);
   font-size: 1.1em;
   outline: none;
   border: none;
   padding-left: 20px;
   background-color: var(--search-bg-color);
}
form.search-form input:focus ~ .drop-down {
   display: flex;
}
form.search-form input ~ .drop-down {
   display: none;
}
form.search-form input::placeholder {
   color: var(--search-primary-color);
}
form.search-form input:focus {
   outline: none;
}
form.search-form label {
   text-align: center;
   width: 100%;
}

form.search-form label svg {
   align-self: center;
   height: 100%;
   height: 20px;
   width: 30px;
}

.drop-down {
   position: absolute;
   display: flex;
   flex-direction: column;
   background-color: var(--bg-color-dropdown);
   width: 100%;
   display: none;
   opacity: 80%;
}
.drop-down a {
   border-bottom: 1px solid black;
   padding: 20px;
   text-decoration: none;
   color: var(--text-color);
   overflow: hidden;
}

.drop-down a:hover {
   overflow: hidden;
   background: var(--bg-color-hover);
   color: var(--text-color);
   height: 100%;
}
