.logo-time-weather {
  background-color: var(--background-color);
}

.logo-time-weather .logo {
  background-color: var(--colors-neutral-100);
}

.logo-time-weather .text-wrapper {
  color: var(--text-color);
}

.logo-time-weather > div {
  color: var(--colors-neutral-400);
}

.logo-time-weather .text-wrapper-2 {
  margin-top: -1px;
  color: var(--colors-neutral-400);
}

.logo-time-weather .text-wrapper-2 select{
  color: var(--colors-neutral-400);
}

.logo-time-weather .text-wrapper-2 select::-webkit-scrollbar {
  width: 2px;
}