.logo-time-weather {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  background-color: var(--background-color);
}

.logo-time-weather .logo {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--colors-neutral-100);
  border-radius: 8px;
  overflow: hidden;
}

.logo-time-weather .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Roboto Slab-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-color);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.logo-time-weather div {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-neutral-400);
  font-size: var(--font-size-logo);
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.logo-time-weather .weather {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.logo-time-weather .location {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.logo-time-weather .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-neutral-400);
  font-size: var(--font-size-logo);
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logo-time-weather .text-wrapper-2 select{
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-neutral-400);
  font-size: var(--font-size-logo);
}

.logo-time-weather .text-wrapper-2 select::-webkit-scrollbar {
  width: 2px;
}

.logo-time-weather .chevron-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.logo-time-weather .cloud-drizzle {
  position: relative;
  width: 24px;
  height: 24px;
}

.logo-time-weather .cloud-drizzle img {
  width: 100%;
  height: auto;
}