<link rel="stylesheet" href="/components/word-run/word-run.css" />
<div id="word-run">
  <div class="marquee-container">
    <div class="marquee-content">
      <div class="news-item">Chương trình Tuần lễ việc làm - Job Fair Week 2023 nhằm hướng đến kỷ niệm chào mừng 20 năm thành lập trường Đại học Quốc tế - ĐHQG-HCM.</div>
      <div class="news-item">Đừng quên follow Fanpage "UHub Network" và "Ngày Hội Việc Làm - Job Fair" để cập nhật thông tin về các chương trình sắp tới nhé!</div>
     
    </div>
  </div>
</div>

