:root {
  --font-family: 'Roboto Slab', 'slab-serif';
}

[data-theme='dark'] #word-run {
  --text-color: #f5f5f6;
  --background-color: #202022;
  --theme: dark;
}


div#word-run {
  grid-area: word-run;
  /* margin: 0;
  padding: 0;
  overflow-x: hidden; */
}
.text-color{
  color:var(--text-color)  !important;
}
.bg-color{
  background-color: var(--background-color) !important;
}
.marquee-content {
  /* display: flex; */
  

  /* padding: 16px 0; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 12px; */
  /* white-space: nowrap; */
  color: var(--text-color);
  background-color: var(--colors-default-50);
  animation: marquee 25s linear infinite;
}

.article-title.div {
  color: var(--colors-default-950);
  font-family: var(--font-family);
}

.article-title {
  color: var(--colors-default-950);
  /* text-align: center; */
  font-family: var(--font-family);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}