[data-theme='dark'] #word-run {
  --text-color: #f5f5f6;
  --background-color: #202022;
  --theme: dark;
}
div#word-run {
  grid-area: word-run;
}
.text-color{
  color:var(--text-color)  !important;
}
.bg-color{
  background-color: var(--background-color) !important;
}
.marquee-content {
    animation: marquee 18s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}