<link rel="stylesheet" href="/components/word-cloud/word-cloud.css" />
<div id="word-cloud" class="flex flex-col gap-2.5 justify-center items-center">
  <div class="flex flex-row gap-2.5 items-center items-center">
    <div class="cursor-pointer">Thế giới</div>
    <div id="kinhdoanh">Kinh Doanh</div>
  </div>

  <div class="flex flex-row gap-2.5 items-center items-center">
    <div class="cursor-pointer">Chính trị</div>
    <div class="cursor-pointer" id="congnghe">Công Nghệ</div>
    <div class="cursor-pointer">Khoa học</div>
  </div>

  <div class="flex flex-row gap-2.5 items-center">
    <div class="cursor-pointer">Thể thao</div>
    <div class="cursor-pointer" id="suckhoe">Sức khỏe</div>
  </div>

  <div>
    <div id="nghethuat" class="cursor-pointer">Nghệ Thuật</div>
  </div>

  <div class="flex flex-row gap-2.5 items-center">
    <div id="dulich" class="cursor-pointer">Du lịch</div>
    <div id="doisong" class="cursor-pointer">Đời Sống</div>
  </div>

  <div>
    <div class="cursor-pointer">Quan điểm</div>
  </div>

  <div class="flex flex-row gap-2.5 items-center">
    <div id="giaitri" class="cursor-pointer">Giải trí</div>
    <div class="cursor-pointer">Thời tiết</div>
    <div class="cursor-pointer">Audio</div>
  </div>

  <div>
    <div class="cursor-pointer">Video</div>
  </div>
</div>
