
div#word-cloud {
  grid-area: word-cloud;
  background-color: #ffffff;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
:root{
 --font-size-primary: 18px;
 --font-size-20: 20px;
 --font-size-26: 26px;
 --font-size-32: 32px;
}
*{
  color:  var(--Neutral-400, #84858C);
  font-family: Roboto;
  gap: 10px;
  font-size: var(--font-size-primary);
}
.line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7, .line-8{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#kinhdoanh, #congnghe, #nghethuat, #quandiem {
  font-size: var(--font-size-20);
}

#suckhoe, #dulich{
  font-size: var(--font-size-26);
}

#doisong{
  font-size: var(--font-size-32);
}

