<link rel="stylesheet" href="/components/word-cloud/word-cloud.css" />
<div id="word-cloud">
    <div class="line-1">
        <div >The Gioi</div>
        <div id="kinhdoanh">Kinh Doanh</div>
    </div>

    <div id="chinhtri" class="line-2">
        <div>Chinh Tri</div>
        <div id="congnghe">Cong Nghe</div>
        <div>Khoa Hoc</div>
    </div>

    <div id="thethao" class="line-3">
        <div>The Thao</div>
        <div id="suckhoe">Suc Khoe</div>
    </div>

    <div id="nghethuat" class="line-4">
        <div id="nghethuat">Nghe Thuat</div>
    </div>

    <div id="dulich" class="line-5 ">
        <div id="dulich">Du Lich</div>
        <div id="doisong">Doi Song</div>
    </div>

    <div id="quandiem" class="line-6">
        <div> Quan Diem</div>
    </div>

    <div id="giatri" class="line-7">
        <div>GiaTri</div>
        <div>ThoiTiet</div>
        <div>Audio</div>
    </div>

    <div id="video" class="line-8">
        <div>Video</div>
    </div>
</div>
