:root{
 --font-size-primary: 18px;
 --font-size-20: 20px;
 --font-size-26: 26px;
 --font-size-32: 32px;
}
*{
  color:  var(--colors-default-400);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
}
#kinhdoanh, #congnghe, #nghethuat, #quandiem, #giaitri {
  font-size: var(--font-size-20);
}
#suckhoe, #dulich{
  font-size: var(--font-size-26);
}
#doisong{
  font-size: var(--font-size-32);
}

