<link rel="stylesheet" href="/components/word-cloud/word-cloud.css" />
<div class="flex flex-col gap-2.5 justify-center items-center">
    <div class="flex flex-row gap-2.5 items-center items-center ">
        <div class="cursor-pointer">The Gioi</div>
        <div id="kinhdoanh">Kinh Doanh</div>
    </div>

    <div class="flex flex-row gap-2.5 items-center items-center">
        <div class="cursor-pointer">Chinh Tri</div>
        <div  class="cursor-pointer" id="congnghe">Cong Nghe</div>
        <div class="cursor-pointer">Khoa Hoc</div>
    </div>

    <div  class="flex flex-row gap-2.5 items-center">
        <div class="cursor-pointer">The Thao</div>
        <div class="cursor-pointer" id="suckhoe">Suc Khoe</div>
    </div>

    <div>
        <div id="nghethuat" class="cursor-pointer">Nghe Thuat</div>
    </div>

    <div class="flex flex-row gap-2.5 items-center">
        <div id="dulich" class="cursor-pointer">Du Lich</div>
        <div id="doisong" class="cursor-pointer">Doi Song</div>
    </div>

    <div>
        <div class="cursor-pointer"> Quan Diem</div>
    </div>

    <div class="flex flex-row gap-2.5 items-center">
        <div id="giaitri" class="cursor-pointer">GiaTri</div>
        <div class="cursor-pointer">ThoiTiet</div>
        <div class="cursor-pointer">Audio</div>
    </div>

    <div>
        <div class="cursor-pointer">Video</div>
    </div>
</div>
