<link rel="stylesheet" href="/components/brief/brief.css" />
<div class="brief">
    <ul class="brief__list">
        <li class="brief__item">
            <a href="#!" class="brief__item-content">
                <h2 class="brief__item-content-heading">Xác thực sinh trắc học chuyển tiền: ‘Bắt buộc
                    phải thực hiện, không thể làm khác được’</h2>
            </a>
            <div class="brief__item-info">
                <span class="brief__item-info-hour">3h trước</span>
                <span class="brief__item-info-branch">Pháp Luật</span>
            </div>
        </li>
        <li class="brief__item">
            <a href="#!" class="brief__item-content">
                <h2 class="brief__item-content-heading">Israel ra quyết định thu hồi đất ở Bờ Tây lớn nhất trong 30 năm,
                    trả hơn trăm triệu USD cho Palestine</h2>
            </a>
            <div class="brief__item-info">
                <span class="brief__item-info-hour">4h trước</span>
                <span class="brief__item-info-branch">Thế giới</span>
            </div>
        </li>
        <li class="brief__item">
            <a href="#!" class="brief__item-content">
                <h2 class="brief__item-content-heading">Đức - Tây Ban Nha: Tái hiện trận chung kết EURO 2008</h2>
            </a>
            <div class="brief__item-info">
                <span class="brief__item-info-hour">2h trước</span>
                <span class="brief__item-info-branch">Thể thao</span>
            </div>
        </li>
    </ul>
</div>