<link rel="stylesheet" href="./components/brief/brief.css" />
<div id="brief">
    <section>
        <h2 class="brief-heading"> HOT NEWS</h2>
        <div class="brief-content">
            <ul class="brief-list">

                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sit quos necessitatibus
                        eveniet animi similique quas sint rerum quasi, ex consequatur labore? Doloremque ipsum, porro
                        reprehenderit accusantium expedita perferendis dolore?
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>


                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos totam iusto
                            voluptate. Provident nihil reprehenderit, dolor corporis magnam deserunt! Est architecto,
                            nostrum maxime laborum fuga sed sint reprehenderit non?
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quibusdam placeat illo,
                        exercitationem ex, quas quisquam explicabo dignissimos aperiam itaque quod perspiciatis. Aliquam
                        eum, ab sed excepturi exercitationem minima adipisci!
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>

                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus libero alias culpa labore ea,
                        sunt dicta beatae, tempora sit architecto inventore ipsa tempore nulla delectus iusto laboriosam
                        et nobis minus.
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>

                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure maxime aspernatur magnam
                        cumque consequatur nihil totam iste, repudiandae veniam explicabo facere laudantium est culpa
                        sunt fuga ut omnis nemo?
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>

                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo odit ipsam sit voluptatibus
                        ducimus totam asperiores dolores, provident voluptatum architecto voluptate, iste expedita
                        facilis minima non quia esse quam excepturi!
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>
                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo odit ipsam sit voluptatibus
                        ducimus totam asperiores dolores, provident voluptatum architecto voluptate, iste expedita
                        facilis minima non quia esse quam excepturi!
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>
                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo odit ipsam sit voluptatibus
                        ducimus totam asperiores dolores, provident voluptatum architecto voluptate, iste expedita
                        facilis minima non quia esse quam excepturi!
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>

                <li class="brief-item">
                    <h3 class="brief-item-title">
                        <a href="#!" class="brief-item-link">
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </a>
                    </h3>
                    <p class="brief-item-desc">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum necessitatibus aspernatur
                        voluptatem consectetur amet voluptatibus cum, eos quibusdam suscipit sequi illo aperiam, itaque
                        exercitationem soluta fugit quam dolore quae minima.
                    </p>
                    <a href="#!" class="brief-item-linkTo">Read more</a>
                </li>

            </ul>
        </div>
    </section>
</div>