<link rel="stylesheet" href="/components/nav/nav.css" />
<script src="https://cdn.tailwindcss.com"></script>

<div id="nav" class=" m-auto border-b-2 w-full min-h-12 overflow-auto relative top-0">
    <nav class="m-auto container h-full">
        <div class="nav-container h-full">
            <div class="nav-links text-sm flex gap-3 justify-evenly  items-center whitespace-nowrap min-h-12 ">
                <a href="#" class="nav-link"><img class="max-w-[24px] max-h-[24px]"
                        src="../../components/assets/navbar/Home.svg" alt=""></a>
                <a href="#" class="nav-link text-[14px]">Thế giới</a>
                <a href="#" class="nav-link text-[14px]">Chính trị</a>
                <a href="#" class="nav-link text-[14px]">Kinh doanh</a>
                <a href="#" class="nav-link text-[14px]">Công nghệ</a>
                <a href="#" class="nav-link text-[14px]">Khoa học</a>
                <a href="#" class="nav-link text-[14px]">Sức khỏe</a>
                <a href="#" class="nav-link text-[14px]">Thể thao</a>
                <a href="#" class="nav-link text-[14px]">Nghệ thuật</a>
                <a href="#" class="nav-link text-[14px]">Du lịch</a>
                <a href="#" class="nav-link text-[14px]">Đời sống</a>
                <a href="#" class="nav-link text-[14px]">Ẩm thực</a>
                <a href="#" class="nav-link text-[14px]">Quan điểm</a>
                <a href="#" class="nav-link text-[14px]">Thời tiết</a>
                <a href="#" class="nav-link text-[14px]">Giải trí</a>

            </div>