[data-theme="light"] {
    --text-color-nav: #84858c;
    --background-color-body: #f5f5f6;
    --theme: light;
}

[data-theme="dark"] {
    --text-color-nav: white;
    --background-color-body: #202022;
    --theme: dark;
}

#nav {
    background-color: var(--background-color-body);
    nav{
     .nav-container{
        .nav-links{
            .nav-link {
                color: var(--text-color-nav);
                text-decoration: none;
            }
        } 
     } 
}
}
