<link rel="stylesheet" href="/components/nav/nav.css" />
<div id="nav">
    <nav>
        <div class="nav-container">
            <div class="nav-links">
                <a href="#" class="nav-link">Home</a>
                <a href="#" class="nav-link">World</a>
                <a href="#" class="nav-link">Politics</a>
                <a href="#" class="nav-link">Business</a>
                <a href="#" class="nav-link">Tech</a>
                <a href="#" class="nav-link">Science</a>
                <a href="#" class="nav-link">Health</a>
                <a href="#" class="nav-link">Sports</a>
                <a href="#" class="nav-link">Arts</a>
                <a href="#" class="nav-link">Travel</a>
                <a href="#" class="nav-link">Style</a>
                <a href="#" class="nav-link">Food</a>
                <a href="#" class="nav-link">Opinion</a>
                <a href="#" class="nav-link">Weather</a>
                <a href="#" class="nav-link">Magazine</a>
                <a href="#" class="nav-link">Video</a>
                <a href="#" class="nav-link">Audio</a>
                <a href="#" class="nav-link">Coupons</a>
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </nav>
</div>
