#nav{
    background-color: white;

    
    nav
        .nav-container
            .nav-links
                .nav-link {
                    color: #84858C;
                    text-decoration: none;
                    
                }
                    
                
            
            }    