<link rel="stylesheet" href="/components/nav/nav.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<div id="nav">
    <nav>
        <div class="nav-container">
            <div class="nav-links">
                <a href="#" class="nav-link"><img src="../../assets/images/nav/Home.svg" alt=""></a>
                <a href="#" class="nav-link">Thế giới</a>
                <a href="#" class="nav-link">Chính trị</a>
                <a href="#" class="nav-link">Kinh doanh</a>
                <a href="#" class="nav-link">Công nghệ</a>
                <a href="#" class="nav-link">Khoa học</a>
                <a href="#" class="nav-link">Sức khỏe</a>
                <a href="#" class="nav-link">Thể thao</a>
                <a href="#" class="nav-link">Nghệ thuật</a>
                <a href="#" class="nav-link">Du lịch</a>
                <a href="#" class="nav-link">Đời sống</a>
                <a href="#" class="nav-link">Ẩm thực</a>
                <a href="#" class="nav-link">Quan điểm</a>
                <a href="#" class="nav-link">Thời tiết</a>
                <a href="#" class="nav-link">Giải trí</a>
                
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </nav>
</div>
