<link rel="stylesheet" href="/components/utility-weather/utility-weather.css" />
<div id="utility-weather">
  <div class="utility__weather-content">
    <div class="weather__content-header">
      <div class="content__header-datetime">
        <div class="header__datetime-title">Thời tiết</div>

        <div class="header__datetime-content">
          <div class="">
            <span class="time-value">18:00</span>
            <span class="day-value">Chủ nhật</span>
          </div>
          <div class="status-value">Nhiều mây</div>
        </div>
      </div>
      <div class="content__header-information">
        <div class="header__information-content">
          <div class="chance__of-rain">
            Khả năng mưa: <span class="rain-value">18%</span>
          </div>

          <div class="humidity">
            Độ ẩm: <span class="humidity-value">70%</span>
          </div>
          <div class="wind">Gió: <span class="wind-value"> 10 km/h </span></div>
        </div>

        <div class="header__information-image">
          <img src="/assets/images/weather_image.svg" alt="" class="" />
        </div>
      </div>
      <div class="content__header-temperature">
        <div class="header__temperature-value">29</div>

        <div class="header__temperature-units">
          <div class="temperature__units-celsius units active">°C</div>
          <div class="line-center">|</div>
          <div class="temperature__units-fahrenheit units">°F</div>
        </div>
      </div>
    </div>

    <div class="weather__content-chart">
      <div class="content__chart-tabs">
        <div
          class="chart__tabs-item active"
          data-tab="temperature"
          data-index="1"
        >
          Nhiệt độ
        </div>
        <div class="chart__tabs-item" data-index="2" data-tab="precipitation">
          Lượng mưa
        </div>
        <div class="chart__tabs-item" data-index="3" data-tab="wind">Gió</div>

        <div id="chart__tab-line"></div>
      </div>

      <div class="content__chart-view">
        <div class="chart__view-item active" data-tab="temperature">
          <div id="temperature-chart"></div>
        </div>
        <div class="chart__view-item" data-tab="precipitation">
          <div id="precipitation-chart"></div>
        </div>
        <div class="chart__view-item" data-tab="wind">
          <div id="wind-chart">
            <ul class="wind__chart-list">
              <li class="wind__chart-list--item">
                <div class="value"><span>10</span> km/h</div>
                <div class="image">
                  <img
                    src="https://ssl.gstatic.com/m/images/weather/wind_unselected.svg"
                    alt=""
                    class="rotate-60"
                  />
                </div>
                <div class="time">10:00</div>
              </li>
              <li class="wind__chart-list--item">
                <div class="value"><span>10</span> km/h</div>
                <div class="image">
                  <img
                    src="https://ssl.gstatic.com/m/images/weather/wind_unselected.svg"
                    alt=""
                    class="rotate-120"
                  />
                </div>
                <div class="time">10:00</div>
              </li>
              <li class="wind__chart-list--item">
                <div class="value"><span>10</span> km/h</div>
                <div class="image">
                  <img
                    src="https://ssl.gstatic.com/m/images/weather/wind_unselected.svg"
                    alt=""
                    class=""
                  />
                </div>
                <div class="time">10:00</div>
              </li>
              <li class="wind__chart-list--item">
                <div class="value"><span>10</span> km/h</div>
                <div class="image">
                  <img
                    src="https://ssl.gstatic.com/m/images/weather/wind_unselected.svg"
                    alt=""
                    class="rotate-60"
                  />
                </div>
                <div class="time">10:00</div>
              </li>
              <li class="wind__chart-list--item">
                <div class="value"><span>10</span> km/h</div>
                <div class="image">
                  <img
                    src="https://ssl.gstatic.com/m/images/weather/wind_unselected.svg"
                    alt=""
                    class="rotate-120"
                  />
                </div>
                <div class="time">10:00</div>
              </li>
              <li class="wind__chart-list--item">
                <div class="value"><span>10</span> km/h</div>
                <div class="image">
                  <img
                    src="https://ssl.gstatic.com/m/images/weather/wind_unselected.svg"
                    alt=""
                    class="rotate-60"
                  />
                </div>
                <div class="time">10:00</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="weather__content-days">
      <div class="weather__content-days--item active" data-index="1">
        <div class="day-value">Hôm nay</div>

        <div class="image-value">
          <img src="/assets/images/weather_image.svg" alt="" />
        </div>

        <div class="temperature-comparison">
          <div class="temperature temperature--max">35°</div>
          <div class="temperature temperature--min">55°</div>
        </div>
      </div>
      <div class="weather__content-days--item" data-index="2">
        <div class="day-value">T2</div>

        <div class="image-value">
          <img src="/assets/images/weather_image.svg" alt="" />
        </div>

        <div class="temperature-comparison">
          <div class="temperature temperature--max">35°</div>
          <div class="temperature temperature--min">55°</div>
        </div>
      </div>
      <div class="weather__content-days--item" data-index="3">
        <div class="day-value">T3</div>

        <div class="image-value">
          <img src="/assets/images/weather_image.svg" alt="" />
        </div>

        <div class="temperature-comparison">
          <div class="temperature temperature--max">35°</div>
          <div class="temperature temperature--min">55°</div>
        </div>
      </div>
      <div class="weather__content-days--item" data-index="4">
        <div class="day-value">T4</div>

        <div class="image-value">
          <img src="/assets/images/weather_image.svg" alt="" />
        </div>

        <div class="temperature-comparison">
          <div class="temperature temperature--max">35°</div>
          <div class="temperature temperature--min">55°</div>
        </div>
      </div>
      <div class="weather__content-days--item" data-index="5">
        <div class="day-value">T5</div>

        <div class="image-value">
          <img src="/assets/images/weather_image.svg" alt="" />
        </div>

        <div class="temperature-comparison">
          <div class="temperature temperature--max">35°</div>
          <div class="temperature temperature--min">55°</div>
        </div>
      </div>
      <div class="weather__content-days--item" data-index="6">
        <div class="day-value">T6</div>

        <div class="image-value">
          <img src="/assets/images/weather_image.svg" alt="" />
        </div>

        <div class="temperature-comparison">
          <div class="temperature temperature--max">35°</div>
          <div class="temperature temperature--min">55°</div>
        </div>
      </div>

      <div id="weather__content-line"></div>
    </div>
  </div>
</div>
